html, body {
    background-color: #e55;
}

.option {
    position: relative;
    float:left;
    width: 32vw;
    height: 45vh;
    border: 10px solid #e55;
    background-color: #f99;
    transition: 0.5s;
    color: #a22;
    text-align: center;
}

.option p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a .option:hover{
    text-decoration: none;
    color: #a22;
    font-size: 120%;
}

a .option.top:hover{
    background: linear-gradient(#f99, #f99, #e55);
}

a .option.top.left:hover{
    background: linear-gradient(to bottom right, #f99, #f99, #e55);
}

a .option.top.right:hover{
    background: linear-gradient(to bottom left, #f99, #f99, #e55);
}

a .option.bottom:hover{
    background: linear-gradient(to top, #f99, #f99, #e55);
}

a .option.bottom.left:hover{
    background: linear-gradient(to top right, #f99, #f99, #e55);
}

a .option.bottom.right:hover{
    background: linear-gradient(to top left, #f99, #f99, #e55);
}

.top {
    margin-top: 6vh;
    border-top-width: 20px;
}

.left {
    margin-left: 2vw;
    border-left-width: 20px;
}

.right {
    border-right-width: 20px;
}

.bottom {
    border-bottom-width: 20px;
}
